name: "Integration Tests"

on:
  pull_request:
    branches: [ main ]

jobs:
  integration:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run integration tests
        env:
          OKEX_API_KEY: ${{ secrets.OKEX_API_KEY }}
          OKEX_PASSPHRASE: ${{ secrets.OKEX_PASSPHRASE }}
          OKEX_SECRET_KEY: ${{ secrets.OKEX_SECRET_KEY }}
          BITFINEX_API_KEY: ${{ secrets.BITFINEX_API_KEY }}
          BITFINEX_SECRET_KEY: ${{ secrets.BITFINEX_SECRET_KEY }}
          AUTH_CODE: ${{ secrets.AUTH_CODE }}
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}
        run: docker compose -f docker-compose.yml run integration-tests
